<a href="https://colab.research.google.com/github/Tushar981/Full-Stack-Data-Science-Assignment/blob/main/For_Loop_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Level:


1 . Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(101):
  print(i," , ",end="")

0  , 1  , 2  , 3  , 4  , 5  , 6  , 7  , 8  , 9  , 10  , 11  , 12  , 13  , 14  , 15  , 16  , 17  , 18  , 19  , 20  , 21  , 22  , 23  , 24  , 25  , 26  , 27  , 28  , 29  , 30  , 31  , 32  , 33  , 34  , 35  , 36  , 37  , 38  , 39  , 40  , 41  , 42  , 43  , 44  , 45  , 46  , 47  , 48  , 49  , 50  , 51  , 52  , 53  , 54  , 55  , 56  , 57  , 58  , 59  , 60  , 61  , 62  , 63  , 64  , 65  , 66  , 67  , 68  , 69  , 70  , 71  , 72  , 73  , 74  , 75  , 76  , 77  , 78  , 79  , 80  , 81  , 82  , 83  , 84  , 85  , 86  , 87  , 88  , 89  , 90  , 91  , 92  , 93  , 94  , 95  , 96  , 97  , 98  , 99  , 100  ,

2.Create a program that calculates the sum of all numbers in a list using a for loop.

In [ ]:
list=[3,6,4,5,3,9,6,4]
count=0
if len(list)>0:
  for i in list:
    count+=i

print("Sum of list item is = ",count)

Sum of list item is =  40

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
string1 ="Tushar"
length=len(string1)-1
string2=""
for i in range(length,-1,-1):
  string2+=string1[i]

print(string2)

rahsuT

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
value =5
calc=1
for i in range(1,value+1):
  calc*=i

print(calc)

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
table=5
for i in range(1,11):
  print(i*table)

5
10
15
20
25
30
35
40
45
50

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
num=int(input("Enter Number"))
ECount=0
OCount=0
for i in range(1,num+1):
  if(i % 2)==0:
    ECount+=1
  else:
    OCount+=1
print("Even Numbers are ="+str(ECount))
print("Odd Numbers are ="+str(OCount))

Enter Number15
Even Numbers are =7
Odd Numbers are =8

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
string ="Tushar"
count=0
for i in string:
  count+=1
print(count)

6

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
temp_list=[43,23,41,98,45]
temp=0
length=len(temp_list)
for i in range(0,length):
  temp+=temp_list[i]

print((temp/length))

50.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop

In [ ]:
num =int(input("Enter number"))
list=[]
if num==0:
  print(0)
elif num ==1:
  print(1)
else:
  list.append(0)
  list.append(1)
  for i in range(2,num):
    list.append(list[i-1]+list[i-2])

  print(list)

Enter number8
[0, 1, 1, 2, 3, 5, 8, 13]

Intermediate Level:





13. Develop a program that counts the number of vowels in a string using a `for` loop.

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

18. Create a program to print the common elements from two lists using a `for` loop.

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [1]:
list =[20,23,34,41,98,23]
length=len(list)
uniquelist=[]
duplictelist=[]
for i in list:
  if i not in uniquelist:
    uniquelist.append(i)
  elif i not in duplictelist:
    duplictelist.append(i)

print(duplictelist)

[23]

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [10]:
number = int(input("Enter number: "))
prime_list = []

for i in range(2, number + 1):
    count = 0
    for j in range(1, i + 1):
        if i % j == 0:
            count += 1
    if count == 2:
        prime_list.append(i)

print("Prime numbers up to", number, "are:", prime_list)

Enter number: 99
Prime numbers up to 99 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

13. Develop a program that counts the number of vowels in a string using a for loop.

In [ ]:
string ="Tushar Gupta"
count=0
vowels=["a","e","i","o","u"]
for i in string:
  if i in vowels:
    count+=1

print(count)

4

14. Write a program to find the maximum element in a 2D list using a nested for loop.

In [ ]:
Mlist=[]

15. Create a program that removes all occurrences of a specific element from a list using a for loop.

In [21]:
list=[10,20,10,30,10,40,10,50]
length=len(list)
templist=[]
for i in list:
  if list.count(i)>1:
    continue
  else:
    templist.append(i)

print(templist)

[20, 30, 40, 50]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested for loop.

In [23]:
number=5
for i in range(1,number+1):
  for j in range(1,11):
    print(i," * ",j,"=",i*j)
  print()

1  *  1 = 1
1  *  2 = 2
1  *  3 = 3
1  *  4 = 4
1  *  5 = 5
1  *  6 = 6
1  *  7 = 7
1  *  8 = 8
1  *  9 = 9
1  *  10 = 10

2  *  1 = 2
2  *  2 = 4
2  *  3 = 6
2  *  4 = 8
2  *  5 = 10
2  *  6 = 12
2  *  7 = 14
2  *  8 = 16
2  *  9 = 18
2  *  10 = 20

3  *  1 = 3
3  *  2 = 6
3  *  3 = 9
3  *  4 = 12
3  *  5 = 15
3  *  6 = 18
3  *  7 = 21
3  *  8 = 24
3  *  9 = 27
3  *  10 = 30

4  *  1 = 4
4  *  2 = 8
4  *  3 = 12
4  *  4 = 16
4  *  5 = 20
4  *  6 = 24
4  *  7 = 28
4  *  8 = 32
4  *  9 = 36
4  *  10 = 40

5  *  1 = 5
5  *  2 = 10
5  *  3 = 15
5  *  4 = 20
5  *  5 = 25
5  *  6 = 30
5  *  7 = 35
5  *  8 = 40
5  *  9 = 45
5  *  10 = 50

18. Create a program to print the common elements from two lists using a for loop.

In [27]:
list1=[1,2,3,4,5,6]
list2=[2,3,5,6,7]
set1=set(list1)
set2=set(list2)
print(set1 & set2)

#set1 & set2 it will provide the intersection result {2, 3, 5, 6}
#set1 | set2 it will provide the union result {1, 2, 3, 4, 5, 6, 7}

{2, 3, 5, 6}

19. Develop a program that prints the pattern of right-angled triangles using a for loop. Use ‘*’ to draw the pattern

In [31]:
for i in range(0,11):
  for j in range(0,i):
    print("*",end="")
  print()

*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a for loop.

In [33]:
num1=int(input("Enter first Number"))
num2=int(input("Enter Second Number"))
gcd=0

if (num2>num1):
  temp=num2
  num2=num1
  num1=temp

for i in range(1,num2):
  if(num1%i==0 & num2%i==0):
    gcd=i

print(gcd)

Enter first Number23
Enter Second Number65
13